<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">

	<select id="selectCommunityList" resultType="community">
		select 
			*
		from 
			board
		<trim prefix="WHERE" prefixOverrides="AND|OR">

			<if test="searchType=='board_title' and keyword != null and keyword != '' ">

				AND board_title like CONCAT('%' || #{keyword}, '%')

			</if>

			<if test="searchType=='board_content' and keyword != null and keyword != '' ">

				AND board_content like CONCAT('%' || #{keyword}, '%')

			</if>
			
			<if test="categoryCode==17">

				AND category_code = 17

			</if>
			
			<if test="categoryCode==18">

				AND category_code = 18

			</if>
			
			<if test="categoryCode==19">

				AND category_code = 19

			</if>
			
			<if test="categoryCode==20">

				AND category_code = 20

			</if>
			
			<!-- <if test="categoryCode==22">

				AND category_code = 22

			</if> -->
			

		</trim> 
		order by b_code desc
	</select>
	
	<select id="selectOneCommunityCollection" resultMap="communityCollectionMap">
		select 
		    B.*
		from 
		    board B
		where 
		    B.b_code = #{ bCode }
	</select>
	<resultMap type="community" id="communityCollectionMap">
		<id column="b_code" property="bCode"/>
		<result column="user_id" property="userId"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_content" property="boardContent"/>
		<result column="reg_date" property="regDate"/>
		<result column="hashtag_code" property="hashtagCode"/>
		<result column="like_this" property="likeThis"/>
	</resultMap>
	
	<!-- <select id="selectCommunityCategory" resultType="community">
		select * from board where category_code = #{ categoryCode } order by b_code desc
	</select> -->
	
	
	<select id="selectReportList" resultMap="ReportMap">
		select report_code, 
			   b_code, 
			   report_id, 
			   (select reason_content from reason_report) as reason_content, 
		from report
		order by report_code;
	</select>
	
	<resultMap type="Report" id="ReportMap">
		<id column="report_code" property="reportCode"/>
		<result column="b_code" property="bCode"/>
		<result column="report_id" property="reportId"/>
		<result column="reason_content" property="reportContent"/>
	</resultMap>
</mapper>
