<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

<!-- 내 동네 설정 업데이트 -->
<update id="updateLocation">
	update
		location
	set
		latitude = #{latitude},
		longitude = #{longitude}
	where 
		user_id = #{userId}
</update>

<!-- Member주소 업데이트 -->
<update id="updateAddr">
	update 
		member 
	set 
		address = #{address} 
	where 
		user_id = #{userId}
</update>

<!-- 지역 범위 가져오기 -->
<select id="selectRadius" resultType="_int">
	select 
		radius 
	from 
		location 
	where user_id = #{userId}
</select>

<!-- 지역 범위 수정 -->
<update id="updateRadius">
	update
		location
	set
		radius = #{radius}
	where 
		user_id = #{userId}
</update>

<!-- 키워드 중복 검사용 -->
<select id="selectKeyword" resultType="_int">
	select 
		count(*) 
	from 
		keyword 
	where 
		user_id = #{userId} 
	and 
		key_content = #{keyword}
</select>

<!-- 키워드 추가 -->
<insert id="insertKeyword">
	insert into
		keyword
	values(
		seq_keyword.nextval,
		#{userId},
		#{keyword}
	)
</insert>

<!-- 키워드 가져와서 view단 뿌리기 용 -->
<select id="selectKeywordList" resultType="keyword">
	select 
		* 
	from 
		keyword 
	where 
		user_id = #{userId}
</select>

<!-- 키워드 갯수 -->
<select id="selectTotalKeywordContent" resultType="_int" >
	select 
		count(*) 
	from 
		keyword 
	where 
		user_id = #{userId}
</select>

<!-- 키워드 삭제 -->
<delete id="deleteKeyword">
	delete from
		keyword
	where 
		key_code = #{keyCode}
</delete>

<insert id="insertMember">
	insert into member
	values(#{userId},#{password},#{email},#{nickName},#{address},null,null,default,default,default)

</insert>

<select id="selectOneMember" resultMap="memberMap">
	select *
	from member
	where user_id = #{userId}
</select>
<resultMap type="member" id="memberMap">

</resultMap>

<!-- 매너 평가 조회하기 -->
<select id="selectAllEva" resultType="evaluate">
	select 
	    * 
	from 
	    evaluate E, evaluation EE
	where 
	    E.eva_code = EE.eva_code
	and
	    user_id = #{userId}
	order by
	    count desc
</select>

<!-- 거래 후기 총 개수 -->
<select id="selectTotalReview" resultType="_int">
	select 
		count(*)
	from 
		review 
	where 
		recipient = #{userId} 
</select>

<!-- 거래 후기 조회하기 -->
<select id="selectAllReview" resultType="review">
	select 
		* 
	from 
		review 
	where 
		recipient = #{userId}
	order by
		review_code desc
</select>

</mapper>
