<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

<update id="updateLocation">
	update
		location
	set
		latitude = #{latitude},
		longitude = #{longitude}
	where 
		user_id = #{userId}
</update>

<insert id="insertKeyword">
	insert into
		keyword
	values(
		seq_keyword.nextval,
		#{userId},
		#{keyword}
	)
</insert>

<select id="selectKeywordList" resultType="keyword">
	select 
		* 
	from 
		keyword 
	where 
		user_id = #{userId}
</select>

<select id="selectTotalKeywordContent" resultType="_int" >
	select 
		count(*) 
	from 
		keyword 
	where 
		user_id = #{userId}
</select>

<delete id="deleteKeyword">
	delete from
		keyword
	where 
		key_code = #{keyCode}
</delete>

</mapper>
