<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<select id="selectAllCategory" resultType="categoryVO">
		select * from category where category_parent = 1 order by category_code
	</select>
	
	<select id="selectAllCategoryCount" resultType="_int">
		select count(*)-1 count from category c left join product p on(c.category_code = p.category)
		group by c.category_code order by 1
	</select>
	
	<select id="selectTotalCount" resultType="_int">
		select count(*) from product
	</select>
	
	<select id="selectCategoryCount" resultType="_int">
		select count(*) from product where category = #{categoryCode}
	</select>
	
	<select id="selectCoupon" resultType="couponDTO">
		select coupon_name, expire_date, count(coupon_name) amount from coupon 
		where user_id = #{userId} and usage_status = 0 group by(coupon_name, expire_date)
	</select>
</mapper>
