<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="socket">

<!-- 알림  -->
<select id="selectAllNoti" resultType="noti">
	select
		N.*,
        (select nickname from member where sender = user_id) senderNickName
	from 
		notification_test N
	where
		receiver = #{userId}
	order by 
		noti_code desc
</select>

<!-- 알림 저장 -->
<insert id="insertNoti">
	insert into 
		notification_test
	values 
		(noti_seq_test.nextval, 
		 #{notiKind}, 
		 #{sender}, 
		 #{receiver}, 
		 #{pCode}, 
		 #{pTitle}, 
		 #{notiContent}, 
		 default)
</insert>

<!-- 알림 읽음 상태 변경 -->
<update id="updateNotiCheck">
	update 
		notification_test 
	set 
		noti_check = 1 
	where 
		noti_code = #{notiCode}
</update>

</mapper>









